<header class="main-header">
    <div class="container main-nav-container">
        <a href="/" class="logo">TicketMaster Pro</a>
        
        <nav class="main-nav-links">
            <a href="/" class="nav-item">Home</a>
            {# Visibility controlled by JS (for now) #}
            <a href="/dashboard" class="nav-item">Dashboard</a>
            <a href="/tickets" class="nav-item">Tickets</a>
            
            {# Styled as a button in the image #}
            <a id="logout-button" href="/logout" class="button button-secondary">Logout</a>
        </nav>
    </div>
</header>