{# templates/_includes/wave_svg.html.twig #}

<div class="hero-wave">
    <svg viewBox="0 0 1440 150" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 80 C 200 150, 400 10, 720 80 C 1040 150, 1240 10, 1440 80 L 1440 150 L 0 150 Z" fill="#F0F8FF"/> 
    </svg>
</div>